@inherits LayoutComponentBase
@using EventEase.Models
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>
                @(userSession.Registrations.LastOrDefault() != null
                                ? $"Last registrator {userSession.Registrations.LastOrDefault()?.Name}"
                                : "No Registration yet")
            </span>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    [Inject] private UserSession userSession { get; set; } = default!;
}