@using EventEase.Models

<EditForm Model="@Event">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Edit name:</label>
        <InputText class="form-control" @bind-Value="Event.Name" />
    </div>

    <button class="btn btn-primary" @onclick="() => OnViewDetails?.Invoke(Event.Id)">
        View details
    </button>
</EditForm>


@code {
    [Parameter] public Event Event { get; set; } = new();
    [Parameter] public Action<int>? OnViewDetails { get; set; }
}
