@page "/events"
@using EventEase.Models
@using EventEase.Services
@inject EventService EventService
@using EventEase.Components

<h3>Events</h3>

@if (events is null)
{
    <p>Loading...</p>
}
else
{
    <Virtualize Items="@events" Context="e">
        <EventCard Event="e" OnViewDetails="NavigateToDetails" />
    </Virtualize>

}1

@code {
    private List<Event>? events;

    protected override void OnInitialized()
    {
        events = EventService.GetEvents();
    }

    private void NavigateToDetails(int id)
    {
        navManager.NavigateTo($"/events/{id}");
    }

    [Inject] private NavigationManager navManager { get; set; } = default!;
}
